<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.GData.Analytics" version="2.1.0.0" targetFramework="net40" />
  <package id="Google.GData.Client" version="2.1.0.0" targetFramework="net40" />
  <package id="Google.GData.Extensions" version="2.1.0.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="3.0.20105.1" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="1.0.20105.408" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="1.0.20105.408" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.0.8" targetFramework="net40" />
</packages>